*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: black;
}

header{
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid white;
  padding: 10px;
}

header nav ul{
  display: flex;
}

header nav ul li{
  padding: 10px;
  list-style: none;
}

header nav ul li a{
  text-decoration: none;
  color: white;
}

header nav ul li a:hover{
  color: yellow;
  padding: 10px;
  transition: 1s;
  font-weight: bold;
}

.menu{
  display: flex;
  align-items: center;
} 

.menu img {
  background-color: white;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 200px);
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  margin: 30px;
}

.cuadro-1{
  grid-row: 1/3;
  color: black;
  background-color: yellow;
  border-radius: 10px;
  text-align: center;
}

.cuadro-1 h1{
  text-align: center;
  padding: 15px;
}

.cuadro-1 p{
  text-align: justify;
  padding: 30px;
}

.cuadro-1 img{
  width: auto;
  height: 150px;
  display: inline-block;
  margin: 0 auto;
  border-radius: 80px;
  box-shadow: 0px 4px 8px rgb(0, 0, 0);
}

.cuadro-2{
  color: black;
  background-color: whitesmoke;
  border-radius: 10px;
}

.cuadro-2 h2{
  text-align: center;
  padding: 15px;
}

.cuadro-2 p{
  text-align: justify;
  padding: 30px;
}

.cuadro-3{
  color: black;
  background-color: rgb(22, 22, 207);
  border-radius: 10px;
}

.cuadro-3 h3{
  text-align: center;
  padding: 15px;
}

.cuadro-3 p{
  text-align: justify;
  padding: 30px;
}


